body {
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 1000px;
	background-color: transparent;
	font-size: 16px;
}

.chatbox {
	display: block;
	margin-top: 10px;
	overflow-y: scroll;
	height: 80vh;
	border: black 1px solid;
	padding: 5px;
}

.chatinput {
	width: calc(100% - 8px);
}
